:root {
	--main-color: rgb(255, 255, 255);
	--light1-color: rgb(244, 212, 106);
	--light2-color: rgb(147, 176, 212, 0.4);
	--light3-color: rgb(211, 211, 211);
	--light4-color: rgb(143, 156, 165);
	--gray1: rgb(169, 169, 169, 0.5);
	--gray2: rgb(169, 169, 169, 0.3);
	--dark1-color: rgba(159, 159, 159, 0.4);
	--dark2-color: rgba(50, 70, 79, 0.4);
	--dark3-color: rgb(56, 56, 56, 0.4);
	--bkg-color: rgb(33, 33, 33);
}

@font-face {
	font-family: Quicksand;
	src: url("../assets/Quicksand-VariableFont_wght.ttf");
}

* ,*::before, *::after {
	margin: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-color: var(--bkg-color);
	color: white;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

::-webkit-scrollbar{
	width: 10px;
}
  
::-webkit-scrollbar-track {
	background: var(--bkg-color);
}

::-webkit-scrollbar-thumb {
	background: var(--main-color);
	border: 2px solid var(--bkg-color);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--light1-color);
}

::selection {
	color: var(--bkg-color);
	background: var(--light1-color);
}

h1 {
	font-family: Quicksand;
	font-weight: bold;
}

nav {
	width: 100%;
	position: fixed;
	display: flex;
	color: var(--main-color);
	background: linear-gradient(to left, var(--dark1-color), var(--dark2-color));
	backdrop-filter: blur(10px);
	font-family: Helvetica;
	font-weight: bolder;
	align-items: center;
	z-index: 2;

	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

nav > div {
	display: flex;
	align-items: center;
	height: 10vh;
	border-right: 2px solid var(--bkg-color);
	padding: 10px;
}

#title h1 {
	position: relative;
	font-size: medium;
}

#title h1::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: var(--light1-color);
	top: 100%;
}

.nav-btn {
	letter-spacing: 5px;
	transition: all 0.5s ease;
}

.nav-btn:hover {
	cursor: pointer;
	background-color: var(--light3-color);
	color: var(--bkg-color);
}

.nav-btn.select {
	color: var(--light1-color);
}

.nav-btn.select:hover {
	color: var(--bkg-color);
}

#filters {
	height: 8vh;
	position: fixed;
	top: 10vh;
	display: flex;
	align-items: center;
	width: 100%;
	background-color: var(--dark3-color);
	border-top: 2px solid var(--bkg-color);
	justify-content: center;
	backdrop-filter: blur(10px);
}

#search {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#search-field {
	background-color: var(--bkg-color);
	border: 1px solid var(--gray1);
	height: 100%;
	width: 50%;
	padding: 1px;
	margin-left: 10px;
}

/* #search-btn {
} */

.ico-btn {
	transition: all 0.5s ease;
}

.ico-btn:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.btn {
	/* font-family: Helvetica, sans-serif;
	letter-spacing: 1px; */
	color: var(--main-color);
	background: var(--bkg-color);
	margin-left: 10px;
	padding: 2px 10px 2px 10px;
	/* border-radius: 5px; */
	/* box-shadow: 0 0 10px 1px var(--gray1); */
	transition: all 0.5s ease;
	border: 1px solid var(--gray1);
}

.btn:hover {
	cursor: pointer;
	/* background-color: var(--main-color);
	/* box-shadow: 0 0 15px 1px var(--main-color); */
	/* color: var(--bkg-color); */
}

main {
	/* margin-left: 70px;
	margin-right: 70px;
	margin-top: 20px; */
	display: flex;
	justify-content: center;
	/* transition: all 0.5s ease; */
	/* min-height: 90vh; */
	background-image: url("../assets/logo.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

main h1::before {
	content: "> ";
	font-weight: lighter;
	color: var(--light4-color)
}

.boxes {
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
	border: 1px solid yellow;
}

.box {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	/* width: 100%; */
	transition: all 0.5s ease;
}

.sqr {
	aspect-ratio: 1/1;
	margin: 5px;
	width: 20%;
	height: auto;
	background: linear-gradient(to left, var(--dark1-color), var(--dark2-color));
	box-shadow: 0 0 10px 3px var(--dark2-color);
	border-radius: 3px;
}


aside {
	color: var(--bkg-color);
	padding: 30px;
	position: relative;
	box-shadow: 0 0 10px 2px var(--light4-color);
	width: 40%;
	background: linear-gradient(to bottom, var(--light3-color), var(--light4-color));
	margin: 20px;
	border-radius: 3px;
	z-index: 1;
}

.p {
	margin: 5px;
	width: 50%;
	height: auto;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: large;
	color: var(--main-color);
	padding: 5px;
}

footer {
	margin-top: 20px;
	background: linear-gradient(to left, var(--dark1-color), var(--dark2-color));
	color: var(--main-color);
	padding: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#blnk {
	height: 10vh;
}

#blnk2 {
	height: 18vh;
}

#table {
	display: grid;
	overflow-x: auto;
}

.t-head {
	background-color: var(--light1-color);
	color: var(--bkg-color);
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.t-attribute-name {
	width: 200px;
	border: 1px solid var(--bkg-color);
	padding: 10px;
}

.t-row {
	display: flex;
	border-bottom: 1px solid var(--main-color);
}

.t-value {
	width: 200px;
	padding: 10px;
	border-right: 1px solid var(--main-color);
	/* border-left: 1px solid var(--main-color); */
	overflow: hidden;
	word-wrap: break-word;
}

.t-value span {
	font-size: large;
}

.t-frameworkURL {
	width: 250px;
}

.t-frameworkPreviousVersionsURL {
	width: 250px;
}

.t-masURL {
	width: 250px;
}

.t-masPreviousVersionsURL {
	width: 250px;
}

span {
	-webkit-touch-callout: none; 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#form {
	font-size: xx-large;
}

#mobile-title {
	/* font-family: Helvetica, sans-serif; */
	margin: 20px;
	margin-left: 40px;
	position: relative;
	z-index: -1;
	font-size: x-large;
	display: none;
}

#mobile-title::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	background-color: var(--light1-color);
	left: -10px
}

.t-keyPhrases {
	display: none;
}

a {
	color: var(--light1-color);
	transition: all 0.5s ease;
}

a:hover {
	filter: brightness(1.5);
	cursor: pointer;
}

@media (max-width: 1200px) {
	main {
		margin-left: 40px;
		/* margin-right: 40px; */
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}

	.sqr {
		margin: 5px;
		width: 50%;
		aspect-ratio: 1/1;
		height: auto;
		background: linear-gradient(to left, var(--dark1-color), var(--dark2-color));;
	}

	aside {
		width: 50%;
	}

	.boxes {
		width: 50%;
	}
}

@media (max-width: 950px) {
	main {
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	aside {
		width: auto;
	}

	.box {
		flex-direction: column;
	}

	.sqr {
		aspect-ratio: 3/1;
		margin: 5px;
		width: 100%;
		height: auto;
		background: linear-gradient(to left, var(--dark1-color), var(--dark2-color));;
	}

	.p {
		width: 100%;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
	}

	#title {
		width: 100%;
		border-bottom: 2px solid var(--bkg-color);
	}

	#blnk {
		height: 20vh;
	}

	#blnk2 {
		height: 28vh;
	}

	#filters {
		top: 20vh;
	}
}

@media (max-width: 620px) {
	nav {
		flex-direction: column;
	}

	#title h1::before {
		display: none;
	}

	.nav-btn {
		border: none;
	}

	#blnk {
		height: 10vh;
	}

	main {
		flex-direction: column;
		align-items: center;
		min-height: 90vh;
	}

	aside {
		width: auto;
	}

	#mobile-title {
		display: block;
	}

	#filters {
		display: none;
	}

	#table {
		display: none;
	}
}